:root {
  --coral: rgb(250, 123, 77);
  --dark-teal: rgb(0, 37, 25);
  --light-teal: rgb(4, 197, 101);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid darkblue;
  font-family: "Ubuntu Condensed", sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 98vh;
  position: relative;
}

.projects {
  background-color: rgb(13, 44, 26);
  color: white;
}

.projects-head {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  height: 7vh;
}

.projects-heading {
  flex: 1;
  padding: 5px;
  text-align: center;
  color: white;
  font-family: "Barriecito", "Gill Sans", sans-serif;
  font-size: 2rem;
}

.add-project {
  align-self: center;
  margin: 2px;
}

.projects-main {
  font-size: 1.4rem;
}

.main {
  background-color: var(--coral);
  display: flex;
  flex-direction: column;
}

.main-head {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  align-items: center;
}

.main-heading {
  flex: 1;
  text-align: center;
  color: white;
  font-family: "Barriecito", "Gill Sans", sans-serif;
  font-size: 2rem;
  padding: 5px;
}

.edit-project,
.delete-project,
.add-task {
  margin: 2px;
}

.tasks {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

input[type="checkbox"],
.edit-task,
.delete-task {
  margin: 5px;
}

.task-text {
  flex: 1;
}

.new-project {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding: 20px;
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  color: white;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 10px;
  border: 2px solid white;
}

.project-input-div {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
}

.project-btns-div {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
}

.new-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
}

.form-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input#name,
input#date,
select#priority {
  height: 25px;
}

.form-label {
  padding: 5px;
}

.create-task,
.cancel-task,
.create-project,
.cancel-project {
  padding: 3px 6px 3px 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 5px;
  font-size: 1rem;
}

.create-task,
.cancel-task {
  margin: 3px;
}

.form-btns.div {
  padding: 5px;
}

.hidden {
  display: none;
}
