:root {
  --coral: rgb(247, 165, 135);
  --light-coral: rgb(252, 220, 210);
  --dark-teal: rgb(0, 37, 25);
  --light-teal: rgb(1, 82, 41);
  --light-green: rgb(93, 228, 160);
  --shadow: rgb(41, 40, 40);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Condensed", sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 98vh;
  position: relative;
}

.projects {
  background-color: var(--dark-teal);
  color: white;
}

.projects-head {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  min-height: 7vh;
  box-shadow: 0px 3px 5px var(--shadow);
  border-right: 2px solid var(--light-teal);
}

.projects-heading {
  flex: 1;
  padding: 5px;
  text-align: center;
  color: white;
  font-family: "Gloria Hallelujah", "Gill Sans", sans-serif;
  font-size: 2rem;
  align-self: center;
  text-shadow: 2px 2px 1px var(--dark-teal);
}

.add-project {
  align-self: center;
  margin-right: 6px;
  width: 25px;
  height: 25px;
}

.add-project:hover {
  width: 30px;
  height: 30px;
  transition: 0.5s ease;
  cursor: pointer;
}

.projects-main {
  font-size: 1.5rem;
}

.project {
  padding: 10px 5px 10px 5px;
}

.project:hover {
  cursor: pointer;
  background-color: var(--light-teal);
}

.main {
  background-color: var(--coral);
  display: flex;
  flex-direction: column;
}

.main-head {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, var(--light-teal), var(--dark-teal));
  align-items: center;
  box-shadow: 0px 3px 5px var(--shadow);
  min-height: 7vh;
  margin-bottom: 5px;
}

.main-heading {
  flex: 1;
  text-align: center;
  color: white;
  font-family: "Gloria Hallelujah", "Gill Sans", sans-serif;
  font-size: 2rem;
  padding: 5px;
  text-shadow: 2px 2px 1px var(--dark-teal);
}

.edit-project,
.del-project,
.add-task {
  margin: 2px;
  width: 20px;
  height: 20px;
  color: white;
}

.edit-project:hover,
.del-project:hover,
.add-task:hover {
  width: 25px;
  height: 25px;
  transition: 0.5s ease;
  cursor: pointer;
}

.add-task {
  margin-right: 15px;
}

.tasks {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(35px, 1fr));
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  min-height: 35px;
}

.task:hover {
  cursor: pointer;
  background-color: var(--light-coral);
}

.due-date {
  display: none;
}

input[type="checkbox"],
.edit-task,
.del-task,
.priority-image {
  margin: 5px;
  height: 20px;
  width: 20px;
}

.edit-task:hover,
.del-task:hover,
.priority-image:hover {
  width: 25px;
  height: 25px;
  transition: 0.5s ease;
}

input[type="checkbox"]:checked {
  accent-color: var(--dark-teal);
}

input[type="checkbox"]:checked + p.task-text {
  text-decoration: line-through;
}

input[type="checkbox"]:hover {
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.task-icons-div {
  background-color: var(--coral);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.task-text {
  flex: 1;
  padding-left: 10px;
}

.desc-text {
  font-size: 1.1em;
  font-style: italic;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  min-height: 35px;
  display: none;
  transition: 1s ease;
}

.new-project,
.change-project {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  padding: 20px;
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  color: white;
  display: none;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 3px 3px 5px 2px var(--shadow);
  transform: translate(-50%, -50%);
}

.error {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  padding: 20px;
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  color: white;
  display: none;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 3px 3px 5px 2px var(--shadow);
  justify-content: center;
}

.project-input-div,
.change-project-input-div {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: space-around;
  align-items: center;
}

input#project-name,
input#new-project-name {
  height: 1.6rem;
  margin-top: 10px;
  font-size: 1.2rem;
}

.project-btns-div,
.change-project-btns-div {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
  padding-top: 15px;
}

.new-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  width: 90%;
  height: 70%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
  box-shadow: 3px 3px 5px 2px var(--shadow);
}

.edit-task-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  width: 90%;
  height: 70%;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
  box-shadow: 3px 3px 5px 2px var(--shadow);
}

.form-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input#name,
input#date,
select#priority,
input#new-name,
input#new-date,
select#new-priority {
  height: 1.8rem;
  font-size: 1.2rem;
}

textarea#desc,
textarea#new-desc {
  font-size: 1.2rem;
}

.form-label {
  padding: 5px;
  margin-right: 10px;
}

.create-project,
.change-project-btn,
.create-task,
.update-task,
.ok {
  background-color: var(--coral);
  font-weight: bold;
}

.create-project:hover,
.change-project-btn:hover,
.create-task:hover,
.update-task:hover,
.ok:hover,
.cancel-project:hover,
.cancel-task:hover,
.cancel-update-task:hover,
.change-cancel-project:hover {
  background-color: var(--light-green);
  transition: 1s ease;
  cursor: pointer;
}

.cancel-project,
.cancel-task,
.cancel-update-task,
.change-cancel-project {
  background-color: rgb(245, 55, 22);
  font-weight: bold;
}

.create-task,
.cancel-task,
.update-task,
.cancel-update-task,
.create-project,
.cancel-project,
.change-project-btn,
.change-cancel-project,
.ok {
  padding: 3px 6px 3px 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 9px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 4px black;
}

.create-task,
.cancel-task {
  padding: 8px 10px 8px 10px;
}

.create-task {
  margin-right: 15px;
}

.form-btns.div {
  padding: 5px;
}

@media only screen and (max-width: 396px) {
  .priority-image,
  .edit-task,
  .del-task {
    padding: 0;
    margin: 0;
  }
}

@media only screen and (min-width: 550px) {
  .new-project,
  .edit-task-modal,
  .change-project,
  .new-task,
  .error {
    width: 500px;
  }

  .due-date {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1rem;
    display: block;
  }

  .task:hover + .desc-text {
    display: block;
  }
}

@media only screen and (min-width: 980px) {
  .projects-main {
    padding-left: 10px;
  }

  .add-project,
  .edit-project,
  .del-project,
  .add-task,
  .edit-task,
  .del-task,
  .priority-image {
    height: 25px;
    width: 25px;
  }

  .projects-heading,
  .main-heading {
    font-size: 3rem;
    padding: 10px;
  }

  .project {
    font-size: 2rem;
  }

  .task-text {
    font-size: 1.5rem;
  }

  .due-date {
    font-size: 1.5rem;
  }

  .project-input-div {
    font-size: 1.5rem;
  }

  .new-task {
    font-size: 1.5rem;
  }
}
