:root {
  --coral: rgb(248, 129, 86);
  --dark-teal: rgb(0, 37, 25);
  --light-teal: rgb(4, 197, 101);
  --shadow: rgb(41, 40, 40);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Condensed", sans-serif;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 98vh;
  position: relative;
}

.projects {
  background-color: rgb(19, 65, 38);
  color: white;
}

.projects-head {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, var(--light-teal), var(--dark-teal));
  min-height: 7vh;
  box-shadow: 0px 3px 5px var(--shadow);
}

.projects-heading {
  flex: 1;
  padding: 5px;
  text-align: center;
  color: white;
  font-family: "Gloria Hallelujah", "Gill Sans", sans-serif;
  font-size: 2rem;
  align-self: center;
  text-shadow: 2px 2px 1px var(--dark-teal);
}

.add-project {
  align-self: center;
  margin-right: 6px;
  width: 25px;
  height: 25px;
}

.projects-main {
  font-size: 1.5rem;
}

.project {
  padding: 10px 5px 10px 5px;
}

.main {
  background-color: var(--coral);
  display: flex;
  flex-direction: column;
  border-left: 3px solid var(--shadow);
}

.main-head {
  display: flex;
  flex-direction: row;
  background: linear-gradient(90deg, var(--light-teal), var(--dark-teal));
  align-items: center;
  box-shadow: 0px 3px 5px var(--shadow);
  min-height: 7vh;
  margin-bottom: 5px;
}

.main-heading {
  flex: 1;
  text-align: center;
  color: white;
  font-family: "Gloria Hallelujah", "Gill Sans", sans-serif;
  font-size: 2rem;
  padding: 5px;
  text-shadow: 2px 2px 1px var(--dark-teal);
}

.edit-project,
.del-project,
.add-task {
  margin: 2px;
  width: 20px;
  height: 20px;
  color: white;
}

.add-task {
  margin-right: 8px;
}

.tasks {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(35Spx, 1fr));
}

.task {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  min-height: 35px;
}

.due-date {
  display: none;
}

input[type="checkbox"],
.edit-task,
.del-task,
.priority-image {
  margin: 5px;
  height: 20px;
  width: 20px;
}

.task-icons-div {
  background-color: rgb(252, 173, 144);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

.priority-image {
  stroke: darkred;
}

.task-text {
  flex: 1;
  padding-left: 10px;
}

.new-project {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 20px;
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  color: white;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 3px 3px 5px 2px var(--shadow);
}

.project-input-div {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  justify-content: space-around;
  align-items: center;
}

input#project-name {
  height: 1.6rem;
  margin-top: 10px;
}

.project-btns-div {
  display: flex;
  flex-direction: row;
  padding: 5px;
  justify-content: center;
  padding-top: 15px;
}

.new-task {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(90deg, var(--dark-teal), var(--light-teal));
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
  border: 2px solid white;
  box-shadow: 3px 3px 5px 2px var(--shadow);
}

.form-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input#name,
input#date,
select#priority {
  height: 1.8rem;
  font-size: 1.2rem;
}

.form-label {
  padding: 5px;
  margin-right: 10px;
}

.create-project,
.create-task {
  background-color: var(--coral);
  font-weight: bold;
}

.cancel-project,
.cancel-task {
  background-color: rgb(245, 55, 22);
  font-weight: bold;
}

.create-task,
.cancel-task,
.create-project,
.cancel-project {
  padding: 3px 6px 3px 6px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 9px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 4px black;
}

.create-task,
.cancel-task {
  padding: 8px 10px 8px 10px;
}

.create-task {
  margin-right: 15px;
}

.form-btns.div {
  padding: 5px;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 550px) {
  .new-project,
  .new-task {
    width: 500px;
  }

  .due-date {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1rem;
    display: block;
  }
}

@media only screen and (min-width: 980px) {
  .projects-main {
    padding-left: 10px;
  }

  .add-project,
  .edit-project,
  .del-project,
  .add-task,
  .edit-task,
  .del-task,
  .priority-image {
    height: 25px;
    width: 25px;
  }

  .projects-heading,
  .main-heading {
    font-size: 3rem;
    padding: 10px;
  }

  .project {
    font-size: 2rem;
  }

  .task-text {
    font-size: 1.5rem;
  }

  .due-date {
    font-size: 1.5rem;
  }

  .project-input-div {
    font-size: 1.5rem;
  }

  .new-task {
    font-size: 1.5rem;
  }
}
